<% include ./partials/header %>
<div class="container">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="https://res.cloudinary.com/ruppyrup/image/upload/ar_1:1,c_fill,g_auto,e_art:hokusai/v1531819261/IMG_2092.jpg" alt="Card image cap">
                 <div class="card-title">
                        <strong style="font-size: 2em;">Rupert Waldron</strong>
                </div>
                <p class="card-text">
                   Firstly, and most importantly thank you for visiting <em id="race" >Race Rater</em>. I created this website so give atheletes
                   / gifted amateurs / not so gifted amateurs an opportunity to give feedback to race organisers and share experiences.
                </p>
                <p class="card-text">
                   Secondly, the aim of this website is to give feedback to race organisers and genuinely rate the races / charity events / fun runs
                   which have become so popular of late. The idea is that race organisers or participants can create a race event and provide details 
                   and commentry on the race. The user who created the race can edit the race details and can request the ownership of the race go to
                   someone else such as the official race organiser. Other users are then free to comment on the race and give it a star ranking which is 
                   then averaged.
                </p>
                <p class="card-text">
                   The website is not static and can change with the demands of use. Please use the contact tab to suggest any changes to features or new additions. 
                   I wrote the website so I am more than happy to accomodate any changes. Don't feel restricted by the type of race you can add; any race where you
                   as individuals or teams take part is fine. E.g horse racing, sailing, marathons, ironman, swimming, santa dash.
                </p>
                <p class="card-text">
                   Good luck for future races!
                </p>
                <p class="card-footer">
                    <em>Rupert Waldron 17th July 2018</em>
                </p>
        </div>
    </div>
</div>

     <p>
        <a class="btn btn-primary btn-large" href="/campgrounds">Back to results</a>
    </p>
<% include ./partials/footer %>