<% include ./partials/header %>
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

       <div id="newSiteForm" class="container">
            <h3 id="newSiteHeader">Sign Up!</h3>
            
            <form action = "/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type = "text" name = "username" placeholder = "username" required><br>
                    <input class="form-control" type = "password" name = "password" placeholder = "password" required><br>
                    <input class="form-control" type = "text" name = "firstName" placeholder = "first Name" required><br>
                    <input class="form-control" type = "text" name = "lastName" placeholder = "last name" required><br>
                    <!--<input class="form-control" type = "url" name = "avatar" placeholder = "avatar url" required><br>-->
                    <input class="form-control" type = "email" name = "email" placeholder = "email" required><br>
                    <input class="form-control" type = "text" name = "adminCode" placeholder = "admin code"><br>
                </div>
                <div class="g-recaptcha" data-sitekey="6Lc40GMUAAAAAPQhbGBHqiVgjVwbQPsoVHFSp4Vp"></div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
            <a href="/campgrounds">Go Back</a>
        </div>
        
        <!--<form action="/register" method="POST">-->
        <!--    <input type="text" name="username" placeholder="username" required>-->
        <!--    <input type="password" name="password" placeholder="password" required>-->
        <!--    <button type="submit">Register</button>-->
        <!--</form>-->

<% include ./partials/footer %>