<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Rate the <em>Race</em></h1>
            <p>Add a race you have competed in or organise</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add Race</a>
            </p>
                <form style="padding: 0;" class="container" action="/campgrounds" method="GET">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Race search..." class="form-control">
                    </div>
                        <% if (campgrounds.length < 1) { %>
                            <div class="form-group">
                                 <button type="submit" class="btn btn-warning">Refresh</button>
                            </div>
                        <% } else { %>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        <% } %>
                </form>
        </div>
    </header>
    
    
    <div class="row">
        <% for (let campground of campgrounds) { %>
            
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        
                        <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <div class="card-text">
                            <% var sum = 0, count = 0 %>
                            <% for (let comment of campground.comments) { %>
                                <% if(comment.stars) { %>
                                    <% sum += comment.stars %>  
                                    <% count += 1 %>
                                <% } %>
                            <% } %>
                            <% var average = sum / count %>
                            <% for (let i = 0; i < average; i++) { %>
                                    <i class="starComment fas fa-star"></i>
                            <% } %>
                        </div>

                        <!--<p class="card-text" style="text-align: center">This is a great campsite</p>-->
                        <!--<a href="/map" class="btn btn-primary">View Map</a>-->
                    
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>

                    </div>
                </div>
            </div>
        <% } %>
    </div>
    
</div>   
    <a href="/">Back to the Landing Page</a>
    

<% include ../partials/footer %>