<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Yelp Camp</h1>
            <p>You are in our hand picked campsites from all over the world.</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add Campsite</a>
            </p>
        </div>
    </header>
    
    
    <div class="row">
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        
                        <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <!--<p class="card-text" style="text-align: center">This is a great campsite</p>-->
                        <!--<a href="/map" class="btn btn-primary">View Map</a>-->
                    
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>

                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>   
    <a href="/">Back to the Landing Page</a>
    

<% include ../partials/footer %>