<% include ../partials/header %>



        <div id="newSiteForm" class="container">
            <h3 id="newSiteHeader">Add a New Race</h3>
            
            <form action = "/campgrounds" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Race Name</label>
                    <input class="form-control" id="name" type = "text" name = "campground[name]" placeholder = "Add new race">
                </div>
                 <div class="form-group">
                    <label for="organiser">Organiser</label>
                    <input class="form-control" id="organiser" type = "text" name = "campground[organiser]" placeholder= "Organiser">
                </div>
                 <div class="form-group">
                    <label for="website">Website https://</label>
                    <input class="form-control" id="website" type = "text" name = "campground[website]" value= "www.myrace.co.uk">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input class="form-control" type = "file" id="image" name = "image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="price">Entry Fee</label>
                    <input class="form-control" id="price" type = "number" name = "campground[price]" placeholder = "Entry fee £" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" id="location" type = "text" name = "campground[location]" placeholder = "Green Park, Reading">
                </div>
                <!--<div class="form-group">-->
                <!--    <input class="form-control" type = "text" name = "campground[lat]" placeholder = "Latitude">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--    <input class="form-control" type = "text" name = "campground[long]" placeholder = "Longitude">-->
                <!--</div>-->
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" type = "text" name = "campground[description]" placeholder = "Description"><br>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <br>
            <a href="/campgrounds">Go Back</a>
        </div>



<% include ../partials/footer %>